.page {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "Inter", ‘Arial’, sans-serif;
}
@media screen and (max-width: 320px) {
  .page {
    width: 320px;
  }
}
