.page {
  width: 100vw;
  max-width: 1920px;
  background-color: #2a2c2f;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
}
@media screen and (max-width: 320px) {
  .page {
    width: 320px;
  }
}
