.places {
  width: 76.875%;
  margin: 92px auto 0;
  padding-inline-start: unset;
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: 93.75%;
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 480px) {
  .places {
    width: 93.75%;
    margin: 64px auto 0;
  }
}

@media screen and (max-width: 352px) {
  .places {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 64px 0 0 0;
  }
}
