.intro__list {
  max-width: 690px;
  margin: 33px 0 0 0;
  padding-inline-start: unset;
  list-style-type: none;
}

@media screen and (max-width: 512px) {
  .intro__list {
    margin: 34px 0 0 0;
  }
}
