.lead__subtitle {
  max-width: 640px;
  min-height: 72px;
  margin: 32px auto 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    width: 83vw;
    font-size: 3.90625vw;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    width: 320px;
    min-height: 40px;
    margin: 16px auto 0;
    font-size: 16px;
    line-height: 125%;
  }
}
