.places__place {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(348px, 484px);
  grid-template-rows: 1fr;
  gap: 48px 40px;
  margin-top: 80px;
}

.places__place:first-child {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .places__place {
    grid-template-columns: 1fr minmax(325px, 456px);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    gap: 48px 28px;
    margin-top: 12.45%;
  }
}

@media screen and (max-width: 742px) {
  .places__place {
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    gap: 32px;
    margin-top: 50px;
  }
}
